@inherits NancyRazorViewBase

@{
    ViewBag.Title = "Index";
}

<div>
    <a href="~/user/logout" style="float:right;">Log out</a>
</div>
<div style="clear:both;">
    You are now logged in as Admin.
</div>