@inherits NancyRazorViewBase

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>404</title>
</head>
<body>
    <h1>Err...?</h1>
    There is no<i>@Request.Url</i>

</body>
</html>