<html>
    <head>
        <meta charset="UTF-8"/>
        <title>NancyDemo.Owin / DotLiquid</title>
    </head>
    <body>
        <h1>Hi, {{ model.name | upcase }}</h1>
        <ul>
            {% for thing in things -%}
                <li>{{ thing }}</li>
            {% endfor -%}
        </ul>
    </body>
</html>