@using NancyDemo.Areas.Extensions
@inherits NancyRazorViewBase

<!DOCTYPE html>

@{
    var basket = Context.GetBasket();
}

<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Areas - @ViewBag.Title</title>

        <link rel="stylesheet" type="text/css" href="~/Content/Public.css"/>
    </head>
    <body>
        <div>
            <h1 class="float-left"><a href="/">Random Web Shop</a></h1>
            <a href="/admin" class="float-right">Admin</a>
        </div>
        <div class="container clear-both">
            <div>
                Din handlekurv:
                @if (basket.IsEmpty())
                {
                    <span>Tom</span>
                }
                else
                {
                    <ul>
                        @foreach (var product in basket.Products)
                        {
                            <li>@product.Name</li>
                        }
                        <li>
                            <strong>Sum: @basket.GetSum().ToString("C")</strong>
                        </li>
                        <li>
                            <form action="/emptyBasket" method="POST">
                                <button type="submit" class="btn btn-xs">Tøm</button>
                            </form>
                        </li>
                    </ul>
                }

            </div>
            <hr />
            <div>
                @RenderBody()
            </div>
        </div>
    </body>
</html>