@inherits NancyRazorViewBase

<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Admin - @ViewBag.Title</title>
        <link rel="stylesheet" type="text/css" href="~/Content/Admin.css"/>
        <link rel="stylesheet" type="text/css" href="~/Content/Layout.css" />
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>